<!DOCTYPE html>

<html>

  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Ryan. It uses data from mapbox.com and the weatherstack api.</p>
      <img src="/img/test.png" class="portait" height="250px" width="250px">  
    </div>
    
    {{>footer}}
  </body>

</html>